<!DOCTYPE html>
<html lang="en" id="top" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>User Login | Rental Bikes</title>
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Bikes On Rent" />
    <meta name="keywords" content="Bikes On Rent, Rental Bikes,Bikes" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link rel="icon" href="../content/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../content/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../content/css/module/aw_blog.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/productlistgallery/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/ajaxlogin/ajaxlogin.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/bootstrap.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/owlcarousal/owl.carousel.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/owlcarousal/owl.theme.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/material-design.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/global.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/header.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/header-nav.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/header-search.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/header-account.css" media="all" />
    <!--<link rel="stylesheet" type="text/css" href="../content/css/layout/header-cart.css" media="all" />-->
    <link rel="stylesheet" type="text/css" href="../content/css/layout/footer.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/layout/theme.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/catalog-product.css" media="all" />
    <!--<link rel="stylesheet" type="text/css" href="../content/css/module/checkout-cart.css" media="all" />-->
    <link rel="stylesheet" type="text/css" href="../content/css/module/product-list.css" media="all" />
    <!--<link rel="stylesheet" type="text/css" href="../content/css/module/account-reviews.css" media="all" />-->
    <!--<link rel="stylesheet" type="text/css" href="../content/css/module/catalogsale.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/catalog-compare.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/checkout-multi-address.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/checkout-cart-minicart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/checkout-onepage.css" media="all" />-->
    <link rel="stylesheet" type="text/css" href="../content/css/module/owl.carousel.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/owl.theme.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/cms.css" media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="../content/css/module/configurableswatches.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/contacts.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/pricing_conditions.css" media="all" />-->
    <!--<link rel="stylesheet" type="text/css" href="../content/css/module/review.css" media="all" />-->
    <link href="../content/css/module/customer.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/search.css" media="all" />
    <!--<link rel="stylesheet" type="text/css" href="../content/css/module/tags.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/wishlist.css" media="all" />-->
    <link rel="stylesheet" type="text/css" href="../content/css/module/sidebar.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/megamenu.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/module/superfish.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/easydropdown.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../content/css/googlemap/tm_googlemap.css" media="all" />
    <link href="../content/css/_boRmn_min.css" rel="stylesheet" />

    <script type="text/javascript" src="../content/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="../content/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../content/js/lib/jquery/noconflict.js"></script>
    <!--<script type="text/javascript" src="../content/js/ccard/ccard.js"></script>-->
    <script type="text/javascript" src="../content/js/prototype/validation.js"></script>
    <script type="text/javascript" src="../content/js/scriptaculous/builder.js"></script>
    <script type="text/javascript" src="../content/js/scriptaculous/effects.js"></script>
    <script type="text/javascript" src="../content/js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" src="../content/js/scriptaculous/controls.js"></script>
    <script type="text/javascript" src="../content/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="../content/js/varien/js.js"></script>
    <script type="text/javascript" src="../content/js/varien/form.js"></script>
    <!--<script type="text/javascript" src="../content/js/mage/translate.js"></script>-->
    <!--<script type="text/javascript" src="../content/js/mage/cookies.js"></script>-->
    <script type="text/javascript" src="../content/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="../content/js/lib/selectivizr.js"></script>
    <script type="text/javascript" src="../content/js/lib/matchMedia.js"></script>
    <script type="text/javascript" src="../content/js/lib/matchMedia.addListener.js"></script>
    <script type="text/javascript" src="../content/js/lib/enquire.js"></script>
    <script type="text/javascript" src="../content/js/app.js"></script>
    <script type="text/javascript" src="../content/js/lib/imagesloaded.js"></script>
    <!--<script type="text/javascript" src="../content/js/minicart.js"></script>-->
    <script type="text/javascript" src="../content/js/megamenu/cmsmartmenu.js"></script>
    <script type="text/javascript" src="../content/js/productlistgallery/thumbs.js"></script>
    <script type="text/javascript" src="../content/js/ajaxlogin/jquery-ui-1-10-4.js"></script>
    <script type="text/javascript" src="../content/js/ajaxlogin/ajaxlogin.js"></script>
    <script type="text/javascript" src="../content/js/tm-stick-up.js"></script>
    <script type="text/javascript" src="../content/js/owlcarousal/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../content/js/front.js"></script>
    <script type="text/javascript" src="../content/js/owlcarousal/owl.carousel.js"></script>
    <script type="text/javascript" src="../content/js/cherry-fixed-parallax.js"></script>
    <script type="text/javascript" src="../content/js/jquery.easydropdown.min.js"></script>
    <script type="text/javascript" src="../content/js/jquery.animateNumber.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" />
    <script src="../content/js/bor.nl-gblcnfg.js"></script>
    <script src="../content/js/_boRmn_min.js"></script>
    <script src="../content/js/bor.nl-gblajx.js"></script>
</head>
<body class="ps-static  customer-account-login">
    <div class="main-page-loader">
    </div>
    <div class="wrapper ps-static en-lang-class">
        <noscript>
            <div class="global-site-notice noscript">
                <div class="notice-inner">
                    <p>
                        <strong>JavaScript seems to be disabled in your browser.</strong><br />
                        You must have JavaScript enabled in your browser to utilize the functionality of this website.
                    </p>
                </div>
            </div>
        </noscript>
        <div class="page">

            <div class="skip-links2"><span class="skip-link2 skip-account2"></span></div>
            <div id="header-account2" class="skip-content2"></div>

            <header id="header" class="page-header">
                <div class="header-row-background">
                    <div class="container">
                        <div class="header-row">
                            <div class="top-links">
                                <div id="" class="top-links-inline">
                                    <div class="links">
                                        <ul>
                                            <li class="first"><a href="#" title="My Account" class="my-account-link">My Account</a></li>
                                            <li class=" last" id="txtlogin"><a href="user-login.html?login" title="Log In" class="log-in-link">Log In</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-tile">
                    <div class="container">
                        <div class="page-header-container">
                            <a class="logo" href="index.html">
                                <img src="../content/images/logo.png" alt="Rental Bikes" />
                            </a>

                            <div class="header-search desktop">
                                <a href="#" data-target-element="#search-dropdown" class="skip-link account-dropdown">
                                    <span class="label"></span>
                                </a>
                                <div id="search-dropdown" class="skip-content">
                                    <form id="search_mini_form" action="catalog-search-results.html" method="get">
                                        <div class="input-box">
                                            <label for="search">Search:</label>
                                            <input id="search" type="search" name="bikename" value="" class="input-text required-entry" maxlength="128" placeholder="Search entire store here..." />
                                            <button type="submit" title="Search" class="button search-button"><span><span>Search</span></span></button>
                                        </div>
                                        <div id="search_autocomplete" class="search-autocomplete"></div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="main-menu">
                    <div class="container">
                        <div id="header-nav" class="skip-content nav-content">
                            <div class="nav-container-mobile">
                                <div class="sf-menu-block">
                                    <ul class="sf-menu-phone">
                                        <li class="level0 nav-1 first"><a href="#" class="level0 has-children">Bikes</a></li>
                                        <li class="level0 nav-2"><a href="#" class="level0 ">Make a Payment</a></li>
                                        <li class="level0 nav-3"><a href="#" class="level0 ">How It Works</a></li>
                                        <li class="level0 nav-4"><a href="#" class="level0 ">FAQ's</a></li>
                                        <li class="level0 nav-5 last"><a href="#" class="level0 has-children">About Us</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="nav-container">
                                <div class="nav">
                                    <ul id="nav" class="grid-full">
                                        <li class="level nav-1 no-level-thumbnail ">
                                            <a style="background-color: " href="#">
                                                <div class="thumbnail"></div>
                                                <span style="color: ;">Bikes</span>
                                            </a>

                                        </li>
                                        <li class="level nav-2 no-level-thumbnail ">
                                            <a style="background-color: " href="#">
                                                <div class="thumbnail"></div>
                                                <span style="color: ;">Make a Payment</span>
                                            </a>

                                        </li>
                                        <li class="level nav-3 no-level-thumbnail ">
                                            <a style="background-color: " href="#">
                                                <div class="thumbnail"></div>
                                                <span style="color: ;">How It Works</span>
                                            </a>
                                        </li>
                                        <li class="level nav-4 no-level-thumbnail ">
                                            <a style="background-color: " href="#">
                                                <div class="thumbnail"></div>
                                                <span style="color: ;">FAQ's</span>
                                            </a>
                                        </li>
                                        <li class="level nav-5 no-level-thumbnail ">
                                            <a style="background-color: " href="#">
                                                <div class="thumbnail"></div>
                                                <span style="color: ;">About Us</span>
                                            </a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skip-container mobile">
                    <div class="container">
                        <div class="skip-links">
                            <a href="#header-nav" class="skip-link skip-nav">
                                <span class="icon"></span>
                                <span class="label">Menu</span>
                            </a>
                            <a href="#header-search" class="skip-link skip-search">
                                <span class="icon"></span>
                                <span class="label">Search</span>
                            </a>
                            <div id="header-search" class="skip-content">
                                <form id="Form1" action="catalog-search-results.html" method="get">
                                    <div class="input-box">
                                        <label for="search">Search:</label>
                                        <input id="search1" type="search" name="bikename" value="" class="input-text required-entry" maxlength="128" placeholder="Search entire store here..." />
                                        <button type="submit" title="Search" class="button search-button"><span><span>Search</span></span></button>
                                    </div>
                                    <div id="Div1" class="search-autocomplete"></div>
                                </form>
                            </div>
                            <a href="#" data-target-element="#header-account" class="skip-link skip-account last">
                                <span class="icon"></span>
                                <span class="label">Account</span>
                            </a>

                            <div id="header-account" class="skip-content">
                                <div class="links">
                                    <ul>
                                        <li class="first"><a href="#" title="My Account" class="my-account-link">My Account</a></li>
                                        <li class=" last" id="Li1"><a href="user-login.html?login" title="Log In" class="log-in-link">Log In</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-container col1-layout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="main">
                                <div class="col-main">
                                    <div class="padding-s">
                                        <div class="youama-ajaxlogin-loader main-login-loader main-register-loader">
                                        </div>
                                        <div class="youama-login-window">
                                            <div class="youama-window-outside">
                                                <span class="close">×</span>
                                                <div class="youama-window-inside">
                                                    <div class="youama-window-title">
                                                        <h3>Login Form </h3>
                                                    </div>
                                                    <div class="account-login">
                                                    </div>
                                                    <div class="youama-window-box first">
                                                        <div class="youama-window-content">
                                                            <div class="input-fly youama-showhideme input-email">
                                                                <label>E-mail address /Username <span>*</span></label>
                                                                <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />
                                                                <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-wronglogin"></div>
                                                            </div>
                                                            <div class="input-fly youama-showhideme input-password">
                                                                <label>Password <span>*</span></label>
                                                                <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                                                                <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-longpassword"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="youama-window-box last">
                                                        <div class="youama-window-content box-contents box-contents-button youama-showhideme">
                                                            <span class="youama-forgot-password">
                                                                <a href="#">Forgot Password ?</a>
                                                            </span>
                                                            <button type="button" class="button btn-login btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                                                                <span>
                                                                    <span>Login </span>
                                                                </span>
                                                            </button>
                                                            <p id="y-to-register" class="yoauam-switch-window" style="text-decoration: none">
                                                                <span>Not registered yet?</span>&nbsp;&nbsp; <span style="text-decoration: underline">Register here!</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="youama-register-window">
                                            <div class="youama-window-outside">
                                                <span class="close">×</span>
                                                <div class="youama-window-inside">
                                                    <div class="youama-window-title">
                                                        <h3>Registration </h3>
                                                    </div>
                                                    <div class="youama-window-box first">
                                                        <div class="youama-window-subtitle youama-showhideme">
                                                            <p>Profile Informations</p>
                                                        </div>
                                                        <div class="youama-window-content">
                                                            <div class="input-fly youama-showhideme input-firstname">
                                                                <label for="youama-firstname">First Name <span>*</span></label>
                                                                <input type="text" placeholder="First Name" id="youama-firstname" name="youama-firstname" value="" />
                                                                <div class="youama-ajaxlogin-error err-firstname err-nofirstname err-dirtyfirstname"></div>
                                                            </div>

                                                            <div class="input-fly youama-showhideme input-lastname">
                                                                <label for="youama-lastname">Last Name <span>*</span></label>
                                                                <input type="text" placeholder="Last Name" id="youama-lastname" name="youama-lastname" value="" />
                                                                <div class="youama-ajaxlogin-error err-lastname err-nolastname err-dirtylastname"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="youama-window-box second">
                                                        <div class="youama-window-subtitle youama-showhideme">
                                                            <p>Login Datas</p>
                                                        </div>
                                                        <div class="youama-window-content">
                                                            <div class="input-fly youama-showhideme input-email">
                                                                <label>E-mail address <span>*</span></label>
                                                                <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />
                                                                <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-emailisexist"></div>
                                                            </div>
                                                            <div class="input-fly youama-showhideme input-password">
                                                                <label>Password <span>*</span></label>
                                                                <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                                                                <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-shortpassword err-longpassword"></div>
                                                            </div>
                                                            <div class="input-fly youama-showhideme input-passwordsecond">
                                                                <label for="youama-passwordsecond">Password confirmation <span>*</span></label>
                                                                <input type="password" placeholder="Password confirmation" id="youama-passwordsecond" name="youama-passwordsecond" value="" />
                                                                <div class="youama-ajaxlogin-error err-passwordsecond err-nopasswordsecond err-notsamepasswords"></div>
                                                            </div>
                                                            <div class="input-fly input-fly-checkbox youama-showhideme">
                                                                <input type="checkbox" id="youama-licence" name="youama-licence" value="ok" />
                                                                <label for="youama-licence">I accept the <a href="#" target="_blank">Terms and Coditions</a></label>
                                                                <div class="youama-ajaxlogin-error err-nolicence"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="youama-window-box last">
                                                        <div class="youama-window-content box-contents youama-showhideme">
                                                            <button type="button" class="button btn-reg btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                                                                <span>
                                                                    <span>Register </span>
                                                                </span>
                                                            </button>
                                                            <p id="y-to-login" class="yoauam-switch-window">
                                                                or login
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="youama-confirmmsg-window" style="display: none;">
                                            <div class="youama-window-outside">
                                                <span class="close">×</span><br />
                                                <div class="alert alert-success">Account confirmation is required. Please, check your email for the confirmation link.</div>
                                            </div>
                                        </div>
                                        <div class="youama_ajaxlogin-temp-error" style="display: none !important;">
                                            <div class="ytmpa-nofirstname">First name is required!</div>
                                            <div class="ytmpa-nolastname">Last name is required!</div>
                                            <div class="ytmpa-dirtyfirstname">First name is not valid!</div>
                                            <div class="ytmpa-dirtylastname">Last name is not valid!</div>
                                            <div class="ytmpa-wrongemail">This is not an email address!</div>
                                            <div class="ytmpa-noemail">Email address is required!</div>
                                            <div class="ytmpa-emailisexist">This email is already registered!</div>
                                            <div class="ytmpa-nopassword">Password is required!</div>
                                            <div class="ytmpa-dirtypassword">Enter a valid password!</div>
                                            <div class="ytmpa-shortpassword">Please enter 6 or more characters!</div>
                                            <div class="ytmpa-longpassword">Please enter 16 or less characters!</div>
                                            <div class="ytmpa-notsamepasswords">Passwords are not same!</div>
                                            <div class="ytmpa-nolicence">Terms and Conditions are required!</div>
                                            <div class="ytmpa-wronglogin">Email or Password is wrong!</div>
                                        </div>

                                        <div class="main-registerPage-loader">
                                        </div>
                                        <div class="account-create">
                                            <div class="page-title">
                                                <h1>Create an Account</h1>
                                            </div>
                                            <form id="register-form" class="scaffold-form">
                                                <div class="row">
                                                    <div class="col-2 registered-users col-xs-12 col-sm-12 col-md-8 col-lg-8" id="registerPageInnerBox">
                                                        <div class="theme-block">
                                                            <div class="content fieldset">
                                                                <h2>New Here?</h2>
                                                               <p class="form-instructions">Registration is free and easy!</p>
                                                                <p class="required">* Required Fields</p>
                                                                <ul class="form-list">
                                                                    <li class="fields">
                                                                    <li class="fields">
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col-xs-12 field">
                                                                                <label for="name" class="required"><em>*</em>Name</label>
                                                                                <div class="input-box">
                                                                                    <input type="text" id="name" name="name" value="" title="Name" maxlength="255" class="input-text required-entry" />
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-xs-12  field">
                                                                                <label for="email_address" class="required"><em>*</em>Email Address/Username</label>
                                                                                <div class="input-box">
                                                                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email_address" value="" title="Email Address" class="input-text validate-email required-entry" />
                                                                                </div>
                                                                            </div>
                                                                             <div class="col-lg-6 col-xs-12  field">
                                                                                <label for="mobile" class="required"><em>*</em>Mobile</label>
                                                                                <div class="input-box">
                                                                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="mobile" id="mobile" value="" title="mobile" class="input-text validate-mobile-indian required-entry" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6 col-xs-12 field">
                                                                                <label for="address" class="required"><em>*</em>Address</label>
                                                                                <div class="input-box">
                                                                                    <textarea name="address" id="address" title="Address" class="input-text required-entry"></textarea>
                                                                                </div>
                                                                            </div>
                                                                             <div class="col-lg-6 col-xs-12 field">
                                                                                    <label for="username" class="required"><em>*</em>Username</label>
                                                                                    <div class="input-box">
                                                                                        <input type="text" name="username" id="username" title="Username" class="input-text required-entry" />
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="row">
                                                                             <div class="col-lg-6 col-xs-12 field">
                                                                                <label for="password" class="required"><em>*</em>Password</label>
                                                                                <div class="input-box">
                                                                                    <input type="password" name="password" id="password" title="Password" class="input-text required-entry validate-password" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 col-xs-12  field">
                                                                                <label for="confirmation" class="required"><em>*</em>Confirm Password</label>
                                                                                <div class="input-box">
                                                                                    <input type="password" name="confirmation" title="Confirm Password" id="confirmation" class="input-text required-entry validate-cpassword" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="remember-me-popup">
                                                                    <div class="remember-me-popup-head">
                                                                        <h3>What's this?</h3>
                                                                        <a href="#" class="remember-me-popup-close" title="Close">Close</a>
                                                                    </div>
                                                                    <div class="remember-me-popup-body">
                                                                        <p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
                                                                        <div class="remember-me-popup-close-button a-right">
                                                                            <a href="#" class="remember-me-popup-close button" title="Close"><span>Close</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="buttons-set">
                                                                <button type="submit" title="Register" class="button" id="btnRegister"><span><span>Register</span></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <div class="theme-block" style="min-height:200px">
                                                            <div class="content">
                                                                <h2>Already registered?</h2>
                                                                <p class="form-instructions">If you have an account with us, please log in.</p>
                                                                <ul class="benefits">
                                                                    <li>Faster login</li>
                                                                    <li>Access your account</li>
                                                                </ul>
                                                            </div>
                                                            <div class="buttons-set">
                                                                <a title="Login" class="button" href="user-login.html"><span><span>Login here</span></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="brands_list">
                                <ul>
                                    <li><a href="#">
                                        <img src="../content/images/brand1.gif" alt="" /></a></li>
                                    <li><a href="#">
                                        <img src="../content/images/brand2.gif" alt="" /></a></li>
                                    <li><a href="#">
                                        <img src="../content/images/brand3.gif" alt="" /></a></li>
                                    <li><a href="#">
                                        <img src="../content/images/brand4.gif" alt="" /></a></li>
                                    <li><a href="#">
                                        <img src="../content/images/brand5.gif" alt="" /></a></li>
                                    <li><a href="#">
                                        <img src="../content/images/brand6.gif" alt="" /></a></li>
                                </ul>
                            </div>
                            <div class="footer">
                                <p id="back-top"><a href="#top"><span></span></a></p>
                                <div class="footer_info">
                                    <div class="f_logo">
                                        <a href="#">
                                            <img src="../content/images/f_logo.png" alt="Rental Bikes" /></a>
                                    </div>
                                    <p>
                                        Our Service is more than just online bikes provider. 
                                        We give our customers a positive online bike rent experience. 
                                        We work to make your life more enjoyable.
                                        The variety of bikes available at our site at the moment is vast, 
                                        but we still continue to widen our assortment. 
                                        We monitor the relevant market niche on regular basis to keep our prices competitive. 
                                        Renting a bike form us you can be sure that you’ll get the bike you have offered quickly and hassle-free. We value our reputation of the trustworthy merchant and never upset our clients.
                                    </p>
                                </div>
                                <div class="footer-cols-wrapper">
                                    <div class="footer-col">
                                        <h4>Information</h4>
                                        <div class="footer-col-content">
                                            <ul>
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Customer Service</a></li>
                                                <li class="last privacy"><a href="#">Cancellation Policy</a></li>
                                                <li><a href="#" title="Orders and Returns">Orders</a></li>
                                                <li class=" last"><a href="#" title="Contact Us">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-col">
                                        <h4>My account</h4>
                                        <div class="footer-col-content">
                                            <ul>
                                                <li><a href="user-login.html">Log In</a></li>
                                                <li><a href="user-registration.html">Register</a></li>
                                                <li><a href="#">Help</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="footer_bottom">
                                    <address>
                                        &copy;
                                        <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script>
                                        Rental Bikes. All Rights Reserved.
                                    </address>
                                    <div class="socials">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery('#register-form').on('submit', function (e) {
            e.preventDefault();
        })
    </script>
</body>
</html>
